/* WRAPPER */

#wrapper {
    width: 1080px;
    margin: 0 auto;
}

/* TOP BAR */

#top-bar {
    position: relative;
    background: #2c3e50;
    height: 48px;
    color: #e3dedb;
}

#top-bar a {
    color: #e3dedb;
}

#top-bar .logo {
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
}

#top-bar .settings {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
}

#top-bar .settings:hover {
    color: white;
}

#top-bar .pure-menu-item {
    vertical-align: inherit;
}

#top-bar .pure-menu ul.pure-menu-list {
    display: block;
    font-size: 14px;
    line-height: 48px;
    height: 48px;
    width: 1080px;
    margin: 0 auto;
}

#top-bar .pure-menu-link {
    padding: 0;
    text-align: center;
}

#top-bar .pure-menu-link:hover {
    color: #2c3e50;
}

#top-bar .pure-menu ul.pure-menu-list .pure-menu-item {
    font-weight: bold;
}

#top-bar .pure-menu-horizontal .pure-menu-children {
    width: 100%;
    background: #2c3e50;
}

#top-bar div.search {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#top-bar .search i {
    position: absolute;
    left: 5px;
    color: #2c3e50;
    line-height: 48px;
}

#top-bar .search input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 100%;
    border: 2px solid #e3dedb;
    border-radius: 14px;
    background: #e3dedb;
    color: #2c3e50;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0.1em 0.5em 0.1em 1.5em;
    font-weight: bold;
}

/* CUSTOM ALERT */

.customalert {
    padding: 5px;
    background: #2c3e50;
}

.customalert_header {
    font-size: 1em;
    background: #2c3e50;
    color: #e3dedb;
    padding: 5px 0 8px 0;
    font-weight: bold;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.customalert_body, 
.customalert_footer {
    background: #e3dedb;
    text-align: center;
    padding: 0.5em;
    line-height: 1.5em;
    font-size: 1.1em;
}

.customalert_footer {
    border-radius: 0 0 5px 5px;
}

#customAlert {
    background: #2c3e50;
}

.customalert_footer .btn {
    padding: 0 1em;
    margin: 0 0.5em;
}

/* LOADING */

#loading {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f3eeeb;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
