/* WRAPPER */

#wrapper {
    padding-top: 2em;
    width: 1080px;
    margin: 0 auto;
    flex: 1 0 auto;
}

/* TOP BAR */

#top-bar {
    position: relative;
    background: #2c3e50;
    height: 48px;
    color: #e3dedb;
}

#top-bar a {
    color: #e3dedb;
}

#top-bar .logo {
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
}

#top-bar .logo:hover {
    filter: brightness(1.2);
}

#top-bar .run {
    margin-right: 1em;
}

#top-bar .settings a::after {
    content: '';
}

#top-bar .settings:hover {
    color: white;
}

#top-bar .pure-menu-item {
    vertical-align: inherit;
}

#top-bar .pure-menu ul.pure-menu-list {
    display: block;
    font-size: 14px;
    line-height: 48px;
    height: 48px;
    width: 1080px;
    margin: 0 auto;
}

#top-bar .pure-menu-link {
    padding: 0;
    text-align: center;
}

#top-bar .pure-menu-link:hover {
    color: #2c3e50;
}

#top-bar .pure-menu ul.pure-menu-list .pure-menu-item {
    font-weight: bold;
}

#top-bar .pure-menu-horizontal .pure-menu-children {
    width: auto;
    background: #2c3e50;
}

#top-bar .pure-menu-children {
    border: 1px solid #e3dedb;
}

#top-bar .pure-menu-children .pure-menu-link {
    padding: 0 0.5em;
}

#top-bar .settings .pure-menu-children {
    width: auto;
}

#top-bar .settings .pure-menu-children a {
    padding: 0 2em;
}

#top-bar div.search {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#top-bar .search i {
    position: absolute;
    left: 5px;
    color: #2c3e50;
    line-height: 48px;
}

#top-bar .search input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 100%;
    border: 2px solid #e3dedb;
    border-radius: 14px;
    background: #e3dedb;
    color: #2c3e50;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0.1em 0.5em 0.1em 1.5em;
    font-weight: bold;
}

#top-bar .languages {
    margin-left: 30px;
}

/* FOOTER */

#footer {
    background: #2c3e50;
    padding: 1em;
    color: #e3dedb;
    margin-top: 3em;
    flex-shrink: 0;
    font-size: 0.75em;
}

#footer .links {
    max-width: 1080px;
    margin: 0 auto;
}

#footer .links div {
    padding: 0 1em;
    box-sizing: border-box;
}

#footer a {
    color: #e3dedb;
    text-decoration: underline;
}

/* CUSTOM ALERT */

.customalert {
    padding: 5px;
    background: #2c3e50;
    width: auto;
    min-width: 500px;
}

.customalert .header {
    font-size: 1em;
    background: #2c3e50;
    color: #e3dedb;
    padding: 5px 0 8px 0;
    font-weight: bold;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.customalert .body, 
.customalert .footer {
    background: #e3dedb;
    text-align: center;
    padding: 0.5em;
    line-height: 1.5em;
    font-size: 1.1em;
}

.customalert .footer {
    border-radius: 0 0 5px 5px;
}

#customAlert {
    background: #2c3e50;
}

/* LOADING */

#loading {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f3eeeb;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
