.collection.small,
.project.small {
    text-align: center;
    margin-bottom: 1.5em;
    position: relative;
}

.collection img.thumbnail,
.project img.thumbnail {
    width: 160px;
    height: 120px;
    border-radius: 5px;
    margin-bottom: .5em;
}

.collection img.thumbnail,
.project img.thumbnail,
.project iframe {
    border: 2px solid #2c3e50;
    box-sizing: border-box;
}

.project.small .no-image,
.collection.small .no-image {
    left: 88px;
    top: 38px;
}

.project.small .no-image,
.collection.small .no-image,
.collection .info .no-image {
    position: absolute;
    font-size: 40px; 
    opacity: 0.2;
}

.thumbnail-container {
    position: relative;
    border-radius: 5px;
    height: 120px;
    border: 2px solid #2c3e50;
    box-sizing: border-box;
}

.collection .info .no-image {
    left: 59px;
    top: 34px;
}

img.collection-thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.project.small .author {
    display: block;
}

.project.small .no-image:hover,
.collection.small .no-image:hover {
    filter: brightness(1.2);
}

.collection-controls {
    background: rgba(255,255,255,.5);
    border-radius: 3px;
    padding: 3px;
    width: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 2px;
    right: 12px;
}

.flagged .collection-controls {
    right: 31px;
    width: 15px;
}

.collection-controls:hover {
    background: rgba(255,255,255,.8);
}

.new-editor {
    border: 1px solid #AAAAAA;
    width: 160px;
    border-radius: 15px;
    padding-left: 0.75em;
    box-sizing: border-box;
}

.editor-list {
    display: inline;
}

.editor-list .editor {
    display: inline-block;
    margin: 0.2em;
    padding: 0.2em 0.5em;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
}

.editor-list a strong {
    font-weight: normal;
}

.editor-list .editor .remove-editor {
    display: none;
    margin-left: 0.2em;
}
.editor-list .editor:hover .remove-editor {
    display: inline;
}

.project iframe {
    border-radius: 0 0 5px 5px;
    width: 100%;
}

.collection img.thumbnail,
.project.small img.thumbnail {
    margin-bottom: 0;
}

.collection img.thumbnail:hover,
.project img.thumbnail:hover {
    filter: brightness(1.2);
    border-color: #4c5e70;
}

.collection.small,
.project.small {
    line-height: 1.5em;
}

.collection.small span.collection-name,
.project.small span.project-name {
    display: block;
}

.collection.small span.is-public,
.project.small span.is-public {
    margin-right: 0.5em;
}

.collection .author,
.project .author {
    font-size: .8em;
}

.collection,
.project.big {
    margin-top: 1em;
}

.collection .title,
.project.big .title {
    position: relative;
    margin-bottom: .5em;
}

.collection .title h1,
.project.big .title h1 {
    display: inline;
}

.collection .title {
    margin-bottom: 1em;
}

.remixed-from {
    position: absolute;
    right: 0;
    bottom: .4em;
    font-size: 0.8em;
}

.remixed-from .author {
    font-size: 1em;
}

.project.big .embed {
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 0.5em;
}

.project.big .controlbar {
    box-sizing: border-box;
    z-index: 200;
    background: #2c3e50;
    padding: 0.4em 0.5em;
    border-radius: 5px 5px 0 0;
    text-align: right;
}

.project.big .controlbar i {
    width: 1.2em;
}

.project.big .controlbar .present-button {
    color: #e2e3db;
}

.project.big .controlbar .start-button {
    color: #66ee66;
}

.project.big .controlbar .stop-button {
    color: #ee6666;
}

.project.big .controlbar i:hover {
    filter: brightness(1.5);
}

.collection .buttons,
.project.big .buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.1em;
}

.collection .buttons a,
.project.big .buttons a {
    margin: 5px 0.1em 0 0.1em; /* Edge margins get cancelled out by ↑ margin: 0 -0.1em; ↑ */
    padding: 0.5em;
    flex-grow: 0.20; /* 20% max growth */
}

.collection .description,
.project.big .notes {
    padding: .5em;
    background: #f3eeeb;
    border-radius: 5px;
    overflow: auto;
    box-sizing: border-box;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    word-wrap: break-word;
    white-space: pre-wrap;
    height: 150px;
    margin-bottom: .5em;
}

.collection .description {
    margin-top: .5em;
}

.collection .description small,
.project.big .notes small {
    font-style: italic;
    opacity: 0.5;
}

.project.big .dates span {
    font-size: 0.8em;
}

.collection .dates span {
    font-size: 0.7em;
}

.collection .dates {
    padding-left: .5em;
    box-sizing: border-box; 
}

/* Embed dialog */

.embed-options .info {
    margin-bottom: 0.5em;
    display: block;
    text-align: center;
}

.embed-options input {
    margin-right: 0.5em;
}

.embed-options .option {
    text-align: left;
    margin-left: 3em;
    display: block;
}

.embed-code {
    margin: 1em auto 0 auto;
    display: block;
    height: 85px;
    width: 420px;
    font-size: 0.8em;
    line-height: 1.2em;
    resize: none;
}

/* Reasons dialog */

.reasons {
    text-align: left;
}

.reasons .option {
    display: block;
    margin-left: 3em;
}

.reasons input {
    margin-right: 0.5em;
}

/* My Projects / My Collections */

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}

.my_collections.search,
.my_projects.search {
    margin-left: 0.5em;
    width: 220px;
}

.my_collections.search form,
.my_projects.search form {
    position: relative;
}

.my_collections.search input,
.my_projects.search input {
    width: 100%;
    height: 2em;
    padding-left: 0.75em;
    padding-right: 1.75em;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #AAAAAA;
}

.my_collections.search i,
.my_projects.search i {
    position: absolute;
    right: 0.45em;
    top: 0.45em;
}

.my_collections.paginator,
.my_projects.paginator {
    line-height: 2em;
    margin: 0;
}
