.article-title {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    margin-bottom: 0.2em;
}

.authors {
    font-style: italic;
    font-size: 0.9em;
}

.publication {
    font-size: 0.9em;
}

.abstract {
    margin: 1em;
    margin-bottom: 3em;
    font-size: 0.8em;
}
