<h1>Log into Snap<em>!</em></h1>

<form id="login" class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" placeholder="Username">
        </div>

        <div class="pure-control-group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Password">
        </div>

        <div class="pure-controls">
            <label for="cb" class="pure-checkbox">
                <input id="cb" name="staylogged" type="checkbox"> keep me logged in
            </label>

            <button type="submit" class="pure-button">Sign in</button>
        </div>
    </fieldset>
</form>

<script>
document.querySelector('form#login').addEventListener("submit", function (event) {
    var username = this.elements["username"].value,
        password = this.elements["password"].value;

    event.preventDefault();

    SnapAPI.setUser(username, password)
        .then(function (value) { 
            if (SnapAPI.currentUser() === username) {
                localStorage["username"] = username;
                localStorage["password"] = password;
                window.location.href = 'index.html';
                username = null;
                password = null;
            }
        })
        .catch(function (value) {
            alert(
                '<p>Could not login. The server reported:</p><p>' + value.ResultMessage + '</p>',
                { title: 'Error logging in' }
            );
            username = null;
            password = null;
        });
});
</script>
